# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: The Epoch Tour
email: protopapas@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  An incredible journey across the globe - Experience the world like never before
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://info.theepochtour.ai" # subdomain for workshop information
twitter_username: epochtour
github_username: vishnu701

# Build settings
remote_theme: mmistakes/minimal-mistakes
minimal_mistakes_skin: default
search: false

# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# Collections
collections:
  workshops:
    output: true
    permalink: /:collection/:name/
  catalog:
    output: true
    permalink: /:collection/:path/

# Masthead
masthead_title: "EL EL EM"
subtitle: "Teaching the world to speak LLM"

# Top bar / masthead links
header:
  links:
    - label: "Workshops"
      icon: "fas fa-fw fa-globe"
      url: "/workshops/"

# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: false
      read_time: false
      comments: false
      share: false
      related: false

  # _cities
  - scope:
      path: ""
      type: workshops
    values:
      layout: single
      classes: wide
      author_profile: false
      read_time: false
      comments: false
      share: false
      related: false

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/